In [1]:
import pandas as pd
meta = pd.read_csv('data/pub_filter.csv')
rel = pd.read_csv('data/pub_relation.csv')
pub = pd.read_csv('data/dist_pub.csv')
per = pd.read_csv('data/dist_per.csv')

Add role, language and period for person

In [2]:
# role
rel_name = list(set([name for name in rel['Relation Cluster']]))
rel_name.sort()

In [3]:
rel_name

['approbator',
 'archbishop/bishop',
 'author',
 'collaborator/contributor/signer',
 'commentator/eulogist',
 'compiler/editor/revisor',
 'dedicatee',
 'engraver/etcher/illustrator',
 'heirs/widow',
 'printer/publisher',
 'translator',
 'unspecified']

In [4]:
rel_dict = {}
for relation in rel_name:
    for i in range(0, len(rel)):
        if relation == rel['Relation Cluster'][i]:
            if not rel['ODIS_PERS_ID'][i] in rel_dict:
                rel_dict[rel['ODIS_PERS_ID'][i]] = {relation: [rel['ODIS_ID'][i]]}
            else:
                if not relation in rel_dict[rel['ODIS_PERS_ID'][i]]:
                    rel_dict[rel['ODIS_PERS_ID'][i]][relation] = [rel['ODIS_ID'][i]]
                else:
                    rel_dict[rel['ODIS_PERS_ID'][i]][relation].append(rel['ODIS_ID'][i])

In [5]:
for relation in rel_name:
    column_count = []
    for i in range(0, len(per)):
        if relation in rel_dict[per['ODIS_PERS_ID'][i]]:
            column_count.append(len(list(set(rel_dict[per['ODIS_PERS_ID'][i]][relation]))))
        else:
            column_count.append(0)
    per[relation] = column_count

In [6]:
# language
lan_name = list(set([name for name in meta['Language']]))
lan_name.sort()

In [7]:
lan_name

['DUTCH', 'ENGLISH', 'FRENCH', 'GERMAN', 'LATIN', 'SPANISH']

In [8]:
lan_dict = {}
for language in lan_name:
    for i in range(0, len(meta)):
        if language == meta['Language'][i]:
            if not meta['ODIS_PERS_ID'][i] in lan_dict:
                lan_dict[meta['ODIS_PERS_ID'][i]] = {language: [meta['ODIS_ID'][i]]}
            else:
                if not language in lan_dict[meta['ODIS_PERS_ID'][i]]:
                    lan_dict[meta['ODIS_PERS_ID'][i]][language] = [meta['ODIS_ID'][i]]
                else:
                    lan_dict[meta['ODIS_PERS_ID'][i]][language].append(meta['ODIS_ID'][i])

In [9]:
for language in lan_name:
    column_count = []
    for i in range(0, len(per)):
        if language in lan_dict[per['ODIS_PERS_ID'][i]]:
            column_count.append(len(list(set(lan_dict[per['ODIS_PERS_ID'][i]][language]))))
        else:
            column_count.append(0)
    per[language] = column_count

In [10]:
# period
period_name = list(set([name for name in meta['Publication Period']]))
period_name.sort()

In [11]:
period_name

['1550s',
 '1560s',
 '1570s',
 '1580s',
 '1590s',
 '1600s',
 '1610s',
 '1620s',
 '1630s',
 '1640s',
 '1650s']

In [12]:
period_dict = {}
for period in period_name:
    for i in range(0, len(meta)):
        if period == meta['Publication Period'][i]:
            if not meta['ODIS_PERS_ID'][i] in period_dict:
                period_dict[meta['ODIS_PERS_ID'][i]] = {period: [meta['ODIS_ID'][i]]}
            else:
                if not period in period_dict[meta['ODIS_PERS_ID'][i]]:
                    period_dict[meta['ODIS_PERS_ID'][i]][period] = [meta['ODIS_ID'][i]]
                else:
                    period_dict[meta['ODIS_PERS_ID'][i]][period].append(meta['ODIS_ID'][i])

In [13]:
for period in period_name:
    column_count = []
    for i in range(0, len(per)):
        if period in period_dict[per['ODIS_PERS_ID'][i]]:
            column_count.append(len(list(set(period_dict[per['ODIS_PERS_ID'][i]][period]))))
        else:
            column_count.append(0)
    per[period] = column_count

In [14]:
per.head()

,ODIS_PERS_ID,REL_PERS_REF_SURNAME,REL_PERS_REF_FIRST_NAME,Full Name,Birth Year,Birth Country,Birth Place,Death Year,Death Country,Death Place,...,1650s,Birth Region,Death Region,Printing House,House Origion,House Note,Gender,Most Involved Role,Most Involved Language,Most Involved Period
0,53546,de Loyola,Ignatius,Ignatius de Loyola,1491.0,NaN,NaN,1556.0,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,Male or Unspecified,author,FRENCH,1600s
1,64493,Acx,Fernandus,Fernandus Acx,1839.0,Belgium,Pittem,NaN,NaN,NaN,...,0,Low Countries,NaN,NaN,NaN,NaN,Male or Unspecified,author,ENGLISH,1630s
2,77188,Perrenot de Granvelle,Antonius,Antonius Perrenot de Granvelle,1517.0,France,France,1586.0,Spain,Madrid,...,0,France,Iberian Union,NaN,NaN,NaN,Male or Unspecified,dedicatee,FRENCH,Multi
3,77190,Boonen,Jacobus,Jacobus Boonen,1573.0,Belgium,Antwerpen,1655.0,Belgium,Brussel,...,0,Low Countries,Low Countries,NaN,NaN,NaN,Male or Unspecified,dedicatee,LATIN,Multi
4,94638,Malderus,Joannes,Joannes Malderus,1563.0,Belgium,Sint-Pieters-Leeuw,1633.0,Belgium,Antwerpen,...,0,Low Countries,Low Countries,NaN,NaN,NaN,Male or Unspecified,Multi,LATIN,1620s

Add country column for publication

In [16]:
correct_country = pd.read_csv('data/correct_country.csv')

In [17]:
meta_merge = pd.merge(meta.iloc[:, 0:16], correct_country, on = 'ODIS_PERS_ID')

In [19]:
country_name = list(set([name for name in meta['Birth Region'] if not str(name) == 'nan']))
for name in meta['Death Region']:
    if not str(name) == 'nan':
        if not name in country_name:
            country_name.append(name)
country_name.sort()

In [20]:
country_name

['Britain',
 'China',
 'France',
 'Genève',
 'Holy Roman Empire',
 'Iberian Union',
 'Italy',
 'Low Countries',
 'Spanish Peru']

In [21]:
country_dict = {}
for country in country_name:
    for i in range(0, len(meta)):
        if country == meta['Birth Region'][i]:
            if not meta['ODIS_ID'][i] in country_dict:
                country_dict[meta['ODIS_ID'][i]] = {country: [meta['ODIS_PERS_ID'][i]]}
            else:
                if not country in country_dict[meta['ODIS_ID'][i]]:
                    country_dict[meta['ODIS_ID'][i]][country] = [meta['ODIS_PERS_ID'][i]]
                else:
                    country_dict[meta['ODIS_ID'][i]][country].append(meta['ODIS_PERS_ID'][i])

In [22]:
for country in country_name:
    column_count = []
    for i in range(0, len(pub)):
        try:
            if country in country_dict[pub['ODIS_ID'][i]]:
                column_count.append(len(list(set(country_dict[pub['ODIS_ID'][i]][country]))))
            else:
                column_count.append(0)
        except:
            column_count.append(0)
    if not sum(column_count) == 0:
        pub[country] = column_count

In [23]:
pub.head()

,ODIS_ID,PUB_REF_TITLE,Language,Publication Year,Publication Period,Britain,France,Genève,Holy Roman Empire,Iberian Union,Italy,Low Countries,Most Involved Region
0,35786,"Refutatio locorum communium theologicorum, Phi...",LATIN,1563.0,1560s,0,0,0,0,0,0,1,Low Countries
1,35914,Refutatio locorum communium theologicorum Phil...,LATIN,1563.0,1560s,0,0,0,0,0,0,1,Low Countries
2,36812,Refutatio locorum communium theologicorum Phil...,LATIN,1563.0,1560s,0,0,0,0,0,0,0,NaN
3,35915,Oratio habita in sessione octava sacrosancti C...,LATIN,1563.0,1560s,0,1,0,0,0,0,2,Low Countries
4,35918,Regii vatis Davidis psalmi quinquaginta ordine...,LATIN,1565.0,1560s,0,0,0,0,0,0,1,Low Countries

Calculate the best match tag

In [25]:
meta = pd.read_csv('data/pub_filter.csv')
rel = pd.read_csv('data/pub_relation.csv')
pub = pd.read_csv('data/dist_pub.csv')
per = pd.read_csv('data/dist_per.csv')

In [26]:
# most involved region of publications
most_region = []
regions = pub.columns[5:12]
for i in range(0, len(pub)):
    region_row = pub.iloc[i, 5:12].to_list()
    if sum(region_row) == 0:
        most_region.append(None)
    else:
        max_region = []
        for i in range(0, len(region_row)):
            if region_row[i] == max(region_row):
                max_region.append(regions[i])
        if len(max_region) == 1:
            most_region.append(max_region[0])
        else:
            most_region.append('Multi')
pub['Most Involved Region'] = most_region

In [28]:
# most involved role of people
most_role = []
roles = per.columns[10:22]
for i in range(0, len(per)):
    role_row = per.iloc[i, 10:22].to_list()
    if sum(role_row) == 0:
        most_role.append(None)
    else:
        max_role = []
        for i in range(0, len(role_row)):
            if role_row[i] == max(role_row):
                max_role.append(roles[i])
        if len(max_role) == 1:
            most_role.append(max_role[0])
        else:
            most_role.append('Multi')
per['Most Involved Role'] = most_role

In [29]:
# most involved language of people
most_lan = []
lans = per.columns[22:28]
for i in range(0, len(per)):
    lan_row = per.iloc[i, 22:28].to_list()
    if sum(lan_row) == 0:
        most_lan.append(None)
    else:
        max_lan = []
        for i in range(0, len(lan_row)):
            if lan_row[i] == max(lan_row):
                max_lan.append(lans[i])
        if len(max_lan) == 1:
            most_lan.append(max_lan[0])
        else:
            most_lan.append('Multi')
per['Most Involved Language'] = most_lan

In [30]:
# most involved period of people
most_period = []
periods = per.columns[28:39]
for i in range(0, len(per)):
    period_row = per.iloc[i, 28:39].to_list()
    if sum(period_row) == 0:
        period_lan.append(None)
    else:
        max_period = []
        for i in range(0, len(period_row)):
            if period_row[i] == max(period_row):
                max_period.append(periods[i])
        if len(max_period) == 1:
            most_period.append(max_period[0])
        else:
            most_period.append('Multi')
per['Most Involved Period'] = most_period